__pycache__/
flask_session/
other_files/
init.sql/
*.pyc
env/
.env
.env.dev
.env.prod
scraper_logs.txt
scraper_errors.txt
docker-compose.yml
tempCodeRunnerFile.py
.vscode/
.idea/
devNotes.txt
dailyNotes.txt
backups/
celerybeat-schedule