body {
    background-color: #f1eadd;
}

.custom-navbar {
    background-color: #4a5d23d1;
}


/* PRODUCT TABLE */


#product-table-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

#max-items-text {
    margin-top: 10px;
    text-align: center;
}

#product-table {
    width: 100%;
    min-width: 1100px;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
    text-align: left;
}

#empty-body {
    text-align: center;
}


th {
    background-color: #e8dcc8;
    border-bottom: 1px solid;
    
}

.name-head {
    padding-left: 5px;
    border-top-left-radius: 10px;
}

.savings-head {
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: #e8dcc8;
}

.savings-up, .savings-down {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-name-td {
    height: 65px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.current-price, .og-price, .savings-up, .savings-down {
    text-align: center;
    border-left: 1px solid black;
}

.savings-up {
    color: rgb(0, 130, 0);
}

#product-table-head {
    border: 1px solid black;
}

.price-head {
    border-left: 1px solid black;
    text-align: center;
    width: 12%;
}

.product-name-td a {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-left: 5px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.product-name-td a:hover {
    text-decoration: underline;
}

.current-price, .og-price, .savings {
    width: 10%;
    font-size: 17px;
}

#empty-table-row {
    text-align: center;
    height: 50px;
}

.remove-btn {
    float: right;
    font-size: 15px;
    width: 12%;
}

/* PRODUCT TABLE */




#input-box-div {
    display: flex;
    justify-content: center;
}

#add_product-form {
    position: absolute;
    width: 1000px;
    top: 16.5%;
}

#button-wrapper {
    display: flex;
    justify-content: center;
}



input {
    background-color: #f9f7f2;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}

#supported-websites-div {
    position: absolute;
    top: 15%;
    left: 60%;
    text-align: center;
}

#bol-link {
    color: black;
    text-decoration: none;
}

#bol-link:hover {
    text-decoration: underline;
}

#URL-input {
    width: 300px;
    height: 34px;
}

#insert-message {
    position: absolute;
    top: 13%;
}

#insert-message-div {
    display: flex;
    justify-content: center;
}

#feedback-message {
    position: absolute;
    top: 22.5%;
    transition: opacity 1s ease-out;
}

.button {
    background-color: #4a5d236e;
    border: 2px solid black;
    border-radius: 30px;
}

.button:hover {
   background-color: #4a5d23ac;
}

#submit-btn {
    position: absolute;
    top: 125%;
    width: 10%;
    font-size: 17px;
}

.spinner-image {
    position: absolute;
    left: 66%;
    top: 10%;
    width: 2%;
    animation: rotation 1.5s infinite linear;
}

#loading-spinner {
    visibility: hidden;
}

#loadingSpinner.visible {
    visibility: visible;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

#insert-message {
    font-size: 115%;
}



/* REGISTER.HTML */

#registration-form {
    text-align: center;
}

#register-head {
    color: Black;
    margin-bottom: 15px;
}

#register-password, #register-confirmation, #register-username {
    margin-bottom: 5px;
    width: 11vw;
    max-width: 210px;
    min-width: 170px;
}

#register-button {
    margin-top: 10px;
}

#register-feedback-msg {
    transition: opacity 1s ease-out;
    color: red;
}

/* REGISTER.HTML */



/* LOGIN.HTML */

.centered-div {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 5%;
}

#login-form {
    text-align: center;
}

#login-head {
    color: black;
    margin-bottom: 15px;
}

#login-username, #login-password {
    margin-bottom: 5px;
    width: 11vw;
    max-width: 210px;
    min-width: 170px;
}

#login-button {
    margin-top: 10px;
}

#login-feedback-msg {
    transition: opacity 1s ease-out;
    color: red;
    margin-top: 10px;
}

/* LOGIN.HTML */



/*
UNCOMMENT THIS TO CREATE A LINE IN THE MIDDLE
body::before {
    content: '';
    position: fixed;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: red;
    z-index: 9999;
}
*/
