{% extends "base.html" %}

{% block main %}

    <div id="register-div" class="centered-div">
        <form id="registration-form" action="{{ url_prefix }}/register" method="POST">
            <div id="register-input" class="centered-input">
                <h1 id="register-head">Create Account</h1>
            </div>
            <div class="username-div">
                <input class="username-input" id="register-username" type="text" name="username" placeholder="Username">
            </div>
            <div class="password-div">
                <input class="password-input" id="register-password" type="password" name="password" placeholder="Password">
            </div>
            <div class="confirmation-div">
                <input class="password-input" id="register-confirmation" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div>
                <button class="button" id = "register-button" type="SUBMIT">Create account</button>
            </div>
        </form>
        <div id="register-feedback-msg"></div>
    </div>

    <script>

        async function checkUsername(username) {
            const response = await fetch(`${window.urlPrefix}/check_username`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username: username })
            });
            const data = await response.json();
            return data;
        }


        // Add an event listener to the register button to check for username field input
        document.getElementById('registration-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            let isValid = true;
            const username = document.getElementById('register-username').value;
            const password = document.getElementById('register-password').value;
            const confirmation = document.getElementById('register-confirmation').value;
            const messageDiv = document.getElementById('register-feedback-msg');
            const submitButton = document.getElementById('register-button');

            const validUsername = /^[0-9A-Za-z]{6,16}$/;
            const validPassword = /^(?=.*?[0-9])(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^0-9A-Za-z]).{8,32}$/;
            

            let response = await checkUsername(username);
            if (response.exists) {
                messageDiv.innerHTML = "Username is already in use";
                fadeOut(messageDiv, submitButton)
                isValid = false;
            }

            if (username.length == 0 || password.length == 0 || confirmation.length == 0) {
                messageDiv.innerHTML = "All fields must be filled out";
                fadeOut(messageDiv, submitButton)
                isValid = false;
            } else if (!validUsername.test(username)) {
                messageDiv.innerHTML = "Username must be between 6 and 16 characters long and contain only letters and numbers";
                fadeOut(messageDiv, submitButton)
                isValid = false;
            } else if (!validPassword.test(password)) {
                messageDiv.innerHTML = "Password must be between 8 and 32 characters long, contain at least 1 upper and 1 lower case letter, 1 number and 1 special character";
                fadeOut(messageDiv, submitButton)
                isValid = false;
            } else if (password != confirmation) {
                messageDiv.innerHTML = "Passwords do not match";
                fadeOut(messageDiv, submitButton)
                isValid = false;
            }

            if (isValid) {
                this.submit();
            }
        });
    </script>

{% endblock %}